
<body>
    <table border='1' cellspacing='0' cellpadding='20'>
        <tr><td> 商品id</td><td><%=@product.id %></td></tr>
        <tr><td>商品名称</td><td><%=@product.name %></td></tr>
		<tr><td>所属分类</td><td> <% if !@small_category.blank?%>
	    <%=@small_category.middle_category.big_category.name%>||<%=@small_category.middle_category.name%>||<%=@small_category.name%>
		<% else %>	该商品无分类			<% end %>		         </td>
        <tr><td>商品描述</td><td><%=@product.description.gsub("\n","<br>") %></td></tr>
        <tr><td>商品价格 </td><td><%=@product.fixed_price%>元</td></tr>
		<tr><td>商品图片</td><td><div><% if !@attachment.blank?%>
				<%= image_tag Attachment.get_image @attachment.file_name %>
				<% else %> 暂无图片 <% end %>
		 </div></td>
      </table>
        <%=link_to '返回' ,:controller => '/admin/product',:action => :list%>
 </body>
