        	<div id= 'big'>
 			<div id= 'middle'>
 			<div id= 'small'>
			<div align= 'left' ><h2 >用户一览</h2></div>
		<table border='1' cellspacing='0' cellpadding='20'>	
			<tr><th>用户ID</th>
			    <th>用户名</th>
				<th>用户邮箱</th> 
				<th>created_at</th>
				<th>updated_at</th>
				<th>操作</th>
			</tr>
			<% @users.each do |user|%>
			<tr>
			<td><%= user.id %></td>
			<td><%= user.login%></td>
			<td><%= user.email%></td>
			<td><%= user.created_at%></td>
			<td><%= user.updated_at%></td>
			<td colspan='3'><%= link_to '详细',:controller =>'/admin/user',:action => :detail,:id =>user.id%>
			    <%= link_to '编辑',:controller => '/admin/user',:action => :to_update,:id => user.id%>
			    <%= link_to '删除', :controller => '/admin/user', :action => :delete,:id => user.id%>
			     </td>
			<% end %>
				
			</tr>
			<tr><td colspan='7' align='center'>
				<%= link_to '新建用户',:controller => '/admin/user',:action => :to_add%></td></tr>
			<tr><td  colspan='7' align='right'>
		     <%= will_paginate @users %></td>
	       </tr>
			
		</table>
		</div>
		</div>
        </div>
