<table border='1' cellspacing='0' cellpadding='20'>	
    <tr><th>ID</th>
        <th>小分类名称</th>
		<th>所属中分类ID</th>
		<th>所属中分类名称</th>
		<th>所属大分类ID</th>
		<th>所属大分类名称</th>
		<th>created_at</th>
        <th>updated_at</th>
	</tr>
	<tr> <td><%=  @small_category.id %></td> <td><%=  @small_category.name%></td><td><%=  @small_category.middle_category_id%></td>
	    <td><%=  @small_category.middle_category.name %></td><td><%=  @small_category.middle_category.big_category.id%></td>
		<td><%=  @small_category.middle_category.big_category.name%></td>
		<td><%=  @small_category.created_at%></td><td><%=  @small_category.updated_at%></td>
	</tr>
	<tr>
		<td colspan='8' align='center'><a href="javascript:history.go(-1);">返回</a></td>
	</tr>
	</table>	

